langchain
langchain-core
langgraph
langchain-google-genai
langchain-pinecone
langchain-community
langchain-voyageai
pinecone-client
voyageai
deep-translator
python-dotenv
Flask
flask_cors
google-api-python-client